* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    margin-top: 30px;
    font-size: 36px;
    color: #333;
    font-family: Arial, sans-serif;
}

.header1 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.form {
    text-align: center;
    margin-top: 20px;
}

form {
    font-size: 18px;
}

.hello {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #555;
}

.choices {
    text-align: center;
    margin-top: 30px;
}

.choices button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.choices button:hover {
    background-color: #0056b3;
}

.results {
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    color: #333;
}

.results p {
    margin: 10px 0;
}

.players {
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    color: #333;
}

.players h2 {
    margin-bottom: 10px;
}

.players ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.players li {
    margin: 5px 0;
}

.btn1 {
    font-size: 18px;
    padding: 10px 20px;
    border: 2px solid #fff;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

